extends index.pug

block card
  .card
    .title
      | Title Goes Here
    .date
      | Date
    .note
    | Notes go here. Lorem ipsum sum, sum ini tri monea. Notes go here. Lorem ipsum sum, sum ini tri monea. Notes go here. Lorem
    | ipsum sum, sum ini tri monea. Notes go here. Lorem ipsum sum, sum ini tri monea. Notes go here. Lorem ipsum sum,
    | sum ini tri monea. Notes go here. Lorem ipsum sum, sum ini tri monea. Notes go here. Lorem ipsum sum, sum ini tri
    | monea.
      .action-btn
        span.edit EDIT
        span.del DEL