extends layout
  
block content
  main
    .new-card
      div
        textarea(name="title", type="text", placeholder="title", rows="1")
      div
        textarea(name="body", type="text", placeholder="note", rows="4")
        input(type="submit", value="enter")
    div
      h2 old/recent notes
    each val in cards
      .card(data-id= val._id)
        .title
          =val.title
        .date
          =moment(val.updatedAt).format('DD.MM.YYY')
        .note
          =val.body
          .action-btn
            span.edit EDIT
            span.del DEL