html {
  font-size: 17px;
}

body {
  background-color: #e2e2e2;
}

h1 {
  text-align: center;
  margin-top: 3.5rem;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

main {
  width: 60%;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: center;
  margin: 0 auto;
  margin-top: 4rem;
}

.new-card {
  width: 80%;
  margin: auto;
  padding: 0.7rem;
  min-height: 150px;
  height: 100%;
  background-color: #263759;
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

#title {
  width: 100%;
  font-size: 1rem;
  border: none;
  padding: 3px;
}

textarea {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  border: none;
  resize: none;
}

input[type='submit'] {
  float: right;
  text-transform: uppercase;
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -moz-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  font-family: Courier New;
  color: #453e87;
  font-size: 20px;
  background: #bcd7e8;
  padding: 5px 10px 5px 10px;
  border: solid #544f3f 2px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 0.3rem;
}

input[type='submit']:hover {
  border: dotted orange 2px;
}

.card {
  background-color: #ffffff;
  border-radius: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  width: 80%;
  margin: auto;
  padding: 0.8rem;
  margin-top: 0.4rem;
  color: black;
}

.title,
.date {
  display: inline-block;
}

.date {
  float: right;
  font-size: 0.9rem;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.note {
  margin-top: 5px;
}

.action-btn {
  margin-top: 10px;
  float: right;
}

.edit,
.del {
  text-transform: uppercase;
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  font-family: Courier New;
  color: black;
  font-size: 0.8rem;
  padding: 1px 2px 1px 2px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  padding: 0.2rem;
}

.edit {
  margin-right: 0.2rem;
}

.edit:hover {
  background: orange;
  color: black;
}

.edit-save {
  background: orange;
  color: #453e87;
}
.del:hover {
  background: red;
  color: white;
}
